<!DOCTYPE html>
<html lang="en" ng-app="TableApp">
	<head>
		<meta charset="UTF-8">
		<title>User Registration</title>

		<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/libs/angular/angular.js"></script>

		<script src="index.js"></script>







	</head>
	<body ng-controller="TableCtrl as tableCtrl">

		<div class="container">

			<h2>Registration</h2>

			<form name="orderForm">

				<div class="form-group">
					<label for="email">Email</label>
					<input id="email" class="form-control" type="email" name="email" 
						required ng-model="tableCtrl.email" >
					<span id="helpBlock" class="help-block" ng-show="orderForm.email.$invalid">Enter a valid email address </span>
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input id="password" class="form-control" type="password" name="password" 
					 pattern="(?=.*\d)(?=.*[a-z])(?=.*[@,#,$])(?=.*[A-Z]).{8,}" required ng-model="tableCtrl.password" >
					<span id="helpBlock" class="help-block" ng-show="orderForm.password.$invalid">Enter your password (@,#,$), 1 lowercase(min),1 uppercase(min),1 number(min) - minimum 8 characters
                </span>
				</div>


				<div class="form-group">
					<label for="name">Name</label>
					<input id="name" class="form-control" type="text" name="name" 
						required ng-model="tableCtrl.name" >
					<span id="helpBlock" class="help-block" ng-show="orderForm.name.$invalid">Enter your full name
                </span>
				</div>



				<div class="form-group">
					<label for="Gender">Gender</label>
					<div class="radio">
						<label>
							<input type="radio" name="Male" value="Male" required
								ng-model="tableCtrl.gender" id="Male">
							<h4>Male</h4>
						</label>
						<label>
							<input type="radio" name="Female" value="Female" required
								ng-model="tableCtrl.gender" id="Female">
							<h4>Female</h4>
						</label>
						
					</div>
				</div>

				<div class="form-group">
					<label for="dateOfBirth">Date of birth</label>
					<input id="dateOfBirth" class="form-control" type="date" name="dateOfBirth" required ng-model="tableCtrl.dateOfBirth" pattern="yyyy-MM-dd"
					 min="{{minDate | date:'1995-02-17'}}" max="{{maxDate | date: '1916-01-01'}}" required>
					<span id="helpBlock" class="help-block" ng-show="orderForm.dateOfBirth.$invalid">Above 18 only!
					</span>
				</div>


				<div class="form-group">
					<label for="address">Address</label>
					<input id="address" class="form-control" type="text" name="address" 
						required ng-model="tableCtrl.address">
					<span id="helpBlock" class="help-block" ng-show="orderForm.address.$invalid">Enter a valid postage address
                </span>
				</div>

				<div class="form-group">
					<label for="country">Country</label>
					<input id="country" class="form-control" type="text" name="country" 
						required ng-model="tableCtrl.country">
					<span id="helpBlock" class="help-block" ng-show="orderForm.country.$invalid">Enter your country
                </span>
				</div>


				<div class="form-group">
					<label for="contact">Contact</label>
					<input id="contact" class="form-control" type="text" name="contact" pattern="(?=.*[(,),+,-,\s])(?=.*\d).{10,}" 
						required ng-model="tableCtrl.contact">
					<span id="helpBlock" class="help-block" ng-show="orderForm.contact.$invalid">Enter your contact number - (+country code) (area code) + (phonenumber)
                </span>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-success form-control"
						   ng-click="tableCtrl.placeOrder()" ng-disabled=
						   "orderForm.email.$invalid || orderForm.password.$invalid || orderForm.name.$invalid ||  
						   orderForm.gender.$invalid || orderForm.address.$invalid || orderForm.country.$invalid || 
						   orderForm.contact.$invalid " >
						<i class="fa fa-gift"></i>
						Register Now!
					</button>

				</div>
			</form>

		</div>
		
	</body>
</html>