<!DOCTYPE html>
<html lang="en" ng-app="TableOrderApp">
	<head>
		<meta charset="UTF-8">
		<title>All Replies</title>

		<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

		<script src="/libs/jquery/dist/jquery.js"></script>
		<script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/libs/angular/angular.js"></script>

		<script src="testoutput.js"></script>
	</head>
	<body>

		<div class="container" ng-controller="TableOrderCtrl as tableOrderCtrl">

			<h2>User Registration</h2>

			<div class="row">
				<div class="col-md-offset-10 col-md-2">
					<button class="btn btn-primary" type="button" ng-click="tableOrderCtrl.getOrders()">
						<i class="fa fa-refresh fa-spin"></i>
						Refresh
					</button>
				</div>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<td><code>Email</code></td>
						<td><code>Password</code></td>
						<td><code>Name</code></td>
						<td><code>Gender</code></td>
						<td><code>D.O.B.</code></td>
						<td><code>Address</code></td>
						<td><code>Country</code></td>
						<td><code>Contact</code></td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="o in tableOrderCtrl.orders">
						<td>{{ o.email }}</td>
						<td>{{ o.password  }}</td>
						<td>{{ o.name }}</td>
						<td>{{ o.gender }}</td>
						<td>{{ o.dateOfBirth  }}</td>
						<td>{{ o.address  }}</td>
						<td>{{ o.country }}</td>
						<td>{{ o.contact }}</td>
					</tr>
				</tbody>
			</table>



			
						
		</div>
		
	</body>
</html>